@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");

html {
  background: url(https://cutewallpaper.org/21/water-background-picture/90-Simple-Backgrounds-Edit-and-Download-Visual-Learning-.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Rajdhani", sans-serif;
}
.titles {
  color: #001f54;
}

.center {
  text-align: center;
}
.Responsibilities {
  margin-left: 100px;
  padding: 75px;
  color: #1d3461;
  font: size 26px;
}
.picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
